In [1]:
import csv

In [2]:
groups_csv = open('groups.csv', 'r', newline='')
result_csv = open('result.csv', 'r', newline='')
students_csv = open('students.csv', 'r', newline='')
subjects_csv = open('subjects.csv', 'r', newline='')
teachers_csv = open('teachers.csv', 'r', newline='')

groups_list = list(csv.reader(groups_csv, delimiter=';'))
result_list = list(csv.reader(result_csv, delimiter=';'))
students_list = list(csv.reader(students_csv, delimiter=';'))
subjects_list = list(csv.reader(subjects_csv, delimiter=';'))
teachers_list = list(csv.reader(teachers_csv, delimiter=';'))

In [3]:
print(subjects_list)
print(result_list)
print(students_list)
print(teachers_list)
print(groups_list)

[['id', 'subject_name'], ['1', 'History'], ['2', 'Math']]
[['id', 'subject_id', 'student_id', 'att1', 'att2', 'exam', 'total', 'teacher_id'], ['1', '1', '101', '19', '20', '60', '5', '1'], ['2', '1', '102', '18', '19', '50', '4', '1'], ['3', '2', '103', '17', '15', '60', '5', '2'], ['4', '1', '104', '13', '15', '40', '3', '2'], ['5', '2', '101', '17', '19', '40', '4', '2']]
[['id', 'first_name', 'last_name', 'group_id'], ['101', 'Ross', 'Geller', '1'], ['102', 'Monica', 'Geller', '1'], ['103', 'Chandler', 'Bing', '2'], ['104', 'Rachel', 'Green', '3']]
[['id', 'first_name', 'last_name', 'middle_name'], ['1', 'Bob', 'Ross', 'Kelly'], ['2', 'Steven', 'Jobs', 'Paul']]
[['id', 'text_name', 'entry_year'], ['1', 'Group 1', '2019'], ['2', 'Group 2', '2020'], ['3', 'Group 3', '2021']]

In [4]:
#1
def teacher_in_group(teacher_id, group_id):
    teacher_id, group_id = str(teacher_id), str(group_id)
    for teacher in teachers_list[1:]:
        if teacher_id == teacher[0]:
            students = []
            groups = set()
            subjects = set()
            for result in result_list[1:]:
                if result[7] == teacher_id:
                    students.append(result[2])
                    subjects.add(result[1])
            for student in students_list[1:]:
                if student[0] in students:
                    groups.add(student[3])
            if not(group_id in groups):
                return False
            else:
                dict_output = {}
                for subject in subjects:
                    dict_output[subject] = {'5':0, '4':0, '3':0, '2':0}
                for result in result_list[1:]:
                    if result[7] == teacher_id:
                        dict_output[result[1]][result[6]] += 1
                return dict_output
    else:
        return None

In [5]:
print(teacher_in_group(2, 2))

{'2': {'5': 1, '4': 1, '3': 0, '2': 0}, '1': {'5': 0, '4': 0, '3': 1, '2': 0}}

In [6]:
#2
def teacher_analysis(first_name, second_name, middle_name, to_json=False):
    for teacher in teachers_list[1:]:
        if first_name == teacher[1] and second_name == teacher[2] and middle_name == teacher[3]:
            teacher_id = teacher[0]
            students = []
            groups = set()
            for result in result_list[1:]:
                if result[7] == teacher_id:
                    students.append(result[2])
            for student in students_list[1:]:
                if student[0] in students:
                    groups.add(student[3])
    dict_output = {}
    for group in groups_list:
        if group[0] in groups:
            dict_output[group[1]] = teacher_in_group(teacher_id, group[0])
    if to_json == False:
        return dict_output
    else:
        with open(to_json, 'w') as f:
            f.write(f'{dict_output}')
        return True

In [7]:
print(teacher_analysis('Bob', 'Ross', 'Kelly'))

{'Group 1': {'1': {'5': 1, '4': 1, '3': 0, '2': 0}}}

In [8]:
print(teacher_analysis('Steven', 'Jobs', 'Paul', to_json='test.txt'))

True

In [9]:
#3 
def group_analysis(entry_year, subject_name, to_json=False):
    entry_year = str(entry_year)
    groups = []
    dict_output = {}
    for group in groups_list[1:]:
        if group[2] == entry_year:
            dict_output[group[0]] = {'group_name':group[1], 'stats': {'5':0, '4':0, '3':0, '2':0}}
            students = []
            for student in students_list[1:]:
                if student[3] == group[0]:
                    students.append(student[0])
            for subject in subjects_list[1:]:
                if subject[1] == subject_name:
                    subject_id = subject[0]
            for result in result_list[1:]:
                if result[2] in students and result[1] == subject_id:
                    dict_output[group[0]]['stats'][result[6]] += 1
    if to_json == False:
        return dict_output
    else:
        with open(to_json, 'w') as f:
            f.write(f'{dict_output}')
        return True

In [10]:
print(group_analysis(2019, 'History'))

{'1': {'group_name': 'Group 1', 'stats': {'5': 1, '4': 1, '3': 0, '2': 0}}}

In [11]:
#4
def student_analysis(student_id):
    student_id = str(student_id)
    dict_output = {}
    for result in result_list:
        if result[2] == student_id:
            dict_output[1] = f'att1:{result[3]}, att2:{result[4]}, exam:{result[5]}, sum:{sum(map(int, [result[3], result[4], result[5]]))}, total:{result[6]}'
    return dict_output

In [12]:
print(student_analysis(101))

{1: 'att1:17, att2:19, exam:40, sum:76, total:4'}

In [21]:
#5
def average_total_student(name):
    second_name, first_name = name.split()
    for student in students_list[1:]:
        if student[1] == first_name and student[2] == second_name:
            student_id = student[0]
    totals = []
    for result in result_list:
        if result[2] == student_id:
            totals.append(int(result[6]))
    return sum(totals)/len(totals)

In [22]:
print(average_total_student('Geller Ross'))

4.5